@import url("header.css");
@import url("flash.css");
@import url("footer.css");

body {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    background: white;
    background-attachment: fixed;
    height: 100%;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  animation: dialog-fade-in 0.5s ease-in;
}
@keyframes dialog-fade-in {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.page-container {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.user-options {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
}

.option {
    background: white;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: space-around;
    transition: ease-in 0.15s;
}

.option:hover {
    transform: translateY(-5px);
    background: rgb(200, 200, 225);
    cursor: pointer;
}

.option p {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 1000;
    color: #161678;
    margin-top: 8px;
}

.option img {
    height: 200px;
}

.profile-modal {
    height: 1000px;
    width: 500px;
    border: solid 1px transparent;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.closing-modal{
    animation: modal-fade-out 0.5s ease forwards;
}

.profile-modal[open] {
  animation: modal-fade-in 0.5s ease forwards;
}


@keyframes modal-fade-in {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes modal-fade-out {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.5);
    }
}
