@import url("header.css");
@import url("flash.css");
@import url("footer.css");

:root {
    --marine-blue: rgb(22, 22, 120);
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    background: white;
    background-attachment: fixed;
    height: 100%;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    animation: dialog-fade-in 0.3s ease;
}

@keyframes dialog-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.page-container {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.user-options {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
}

.option {
    background: white;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: space-around;
    transition: ease-in 0.15s;
}

.option:hover {
    transform: translateY(-5px);
    background: rgb(200, 200, 225);
    cursor: pointer;
}

.option p {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 1000;
    color: var(--marine-blue);
    margin-top: 8px;
}

.option img {
    height: 200px;
}

.profile-modal {
    height: 1000px;
    width: 1000px;
    border: solid 0px transparent;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    padding: 0;
    position: relative;
}

.modal-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: var(--marine-blue);
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: large;
}

.profile-modal[open] {
    animation: modal-fade-in 0.3s ease forwards;
}

@keyframes modal-fade-in {
    from {
        opacity: 0;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100%;
}

.profile-picture-input {
    background: lightgray;
    border: solid 0px transparent;
    border-radius: 50px;
    margin-top: 70px;
    margin-left: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 256px;
    width: 256px;
}

.profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dragover {
    border: 3px dashed #4CAF50;
    background-color: rgba(76, 175, 80, 0.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease;
    transform: scale(1.05);
}

.form-agregate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 80%;
}

.form-field {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background: rgb(240, 240, 240);
    border: solid 1px rgb(190, 190, 190);
    border-radius: 3px;
    padding: 5px;
    font-size: large;
}

.form-field .field-name {
    color: rgb(125, 125, 125);
    font-weight: bold;
}

.form-field .field-value {
    flex: 1;
    border: none;
    background: transparent;
    font-size: large;
    outline: none;
}

.form-field .editable {
    color: rgb(25, 25, 25);
}

.form-field .uneditable {
    color: rgb(70, 70, 70);
}

.form-action {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.form-action button {
    height: 50px;
    width: 100px;
    color: white;
    font-size: large;
    font-weight: bold;
    border: solid 0px transparent;
    border-radius: 3px;
}

.form-action button:hover {
    transform: scale(1.02);
}

.exit-button {
    background: rgb(170, 0, 0);
}

.exit-button:hover {
    background: rgb(215, 0, 0);
}

.submit-button {
    background: green;
}

.submit-button:hover {
    background: rgb(0, 175, 0);
}