@import url("header.css");
@import url("flash.css");
@import url("footer.css");

:root {
    --marine-blue: rgb(22, 22, 120);
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    background: white;
    background-attachment: fixed;
    height: 100%;
}

.page-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.civil-construction {
    margin-top: 60px;
    height: 400px;
    margin-right: 50px;
}

.structured-content {
    background: white;
    position: relative;
    margin-top: 100px;
    max-width: 550px;
    height: 450px;
    padding: 30px;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.title {
    position: absolute;
    top: 10;
    font-size: 3rem;
    font-weight: bold;
    border-width: 3px;
    color: var(--marine-blue);
}

.description {
    font-size: 1.25rem;
    color: var(--marine-blue);
    font-weight: 400;
    margin-top: 100px;
}

.input-container {
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.input-field {
    width: 100%;
    max-width: 500px;
    margin-bottom: 10px;
    padding: 5px;
}

.user-type-radio {
    display: none;
}

.user-type {
    border: solid 2px;
    padding: 7px;
    border-color: var(--marine-blue);
    border-radius: 5px;
    color: var(--marine-blue);
    width: 150px;
}

.user-type:hover {
    border-color: green;
    color: green;
}

.login-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enter {
    display: block;
    margin: 20px auto 0 auto;
    width: 100px;
    margin-top: 20px;
    padding: 6px;
    border: 2px solid;
    border-width: 1px;
    border-radius: 20px;
    background-color: green;
    font-size: large;
    font-weight: 400;
    color: white;
}

.enter:hover {
    transition: ease-in 0.1s;
    background-color: rgb(50, 170, 50);
    border-color: white;
}

.enter:active {
    background-color: rgb(100, 200, 100);
    border-color: white;
}

@media (max-width: 1200px) {
    .civil-construction {
        display: none;
    }
}